<header>
    <a [routerLink]="['inicio']"><h1>Anime<span class="remarcado">FB</span></h1></a>
    <nav>
        <ul>
            <a [routerLink]="['/inicio']"><li>Inicio</li></a>
            <a [routerLink]="['/favoritos']"><li>Favoritos</li></a>
            <a [routerLink]="['/masVistos']"><li>Más vistos</li></a>
        </ul>
    </nav>
    <div class="botonesHeader">
        <a [routerLink]="['/inicio']" class="registroBtn"><button type="button">Registrarse</button></a>
        <a [routerLink]="['/inicio']"><button type="button">Iniciar sesión</button></a>
    </div>
</header>