<h1>{{titulo}}</h1>
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Vistas</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let anime of animes_favoritos">
            <td>{{anime.titulo}}</td>
            <td>
                {{anime.vistas}}
            </td>
            <td *ngIf="anime.vistas > 100"><img src="../../assets/img/icono premium hero.svg" alt="icono corona"></td>
            <td><app-btn-favorito [(favorito)]="anime.favorito" (favoritosSeteado)="gestionarFavoritos(anime, $event)"></app-btn-favorito></td>
        </tr>
    </tbody>
</table>
<p>Cantidad de favoritos: {{cantidad}}</p>